In [ ]:
#Чтение и запись файлов
# csv #- comma-separated values - данные разделенные запятой
# df = pd.read_csv('file.csv', # функция считывания внешнего файла формата csv (можно выбрать необходимый формат)
#                  encoding='windows-1251',
#                  headler=0,  # - какую строку считать заголовком(по умолчанию нулевую)
#                  sep = ';',
#                  index_col='название_столбца',
#                  parse_dates=['Date'],
#                  dayfirst=True)
# 'file.csv' - путь к файлу,
# sep - разделитель sep(по умолчаниию ',')
# encoding – параметр в read_csv, отвечает за кодировку текста, которая может быть различной. Самая распространённая – utf
# index_col='название_столбца' - название столбца, который будет выступать как столбец индексов
# index_col=[0] - индекс столбца, который будет выступать как столбец индексов
# parse_dates – указывает, стоит ли воспринимать даты как даты (по умолчанию они воспринимаются пандасом как строки).
    # пример pd.read_csv(path, parse_dates=['some_date', 'another_date'])
    # Параметр с датами может принимать несколько значений:
    # True – пытается перевести в дату первую колонку
    # список колонок – parse_dates=['some_date', 'another_date']
    # пытается перевести в дату указанные в списке колонки и столбцы create_data, payment_data
    # будут обрабатываться как даты
# dayfirst=True  - первое значение в дате это день или нет - True/False
# df['Date'].dt.day - номер дня недели в соответствии с данными в колонке с датами !!!!!
# df['Date'].dt.day_name() - название дня недели в соответствии с данными в колонке с датами
# df['Date'].dt.month - номер месяца в соответствии с данными в колонке с датами
# df['Date'].dt.month_name() - название месяца в соответствии с данными в колонке с датами


# Подключение GoogleДиска
# from google.colab import drive
# drive.mount('/content/gdrive', force_remount=True)


import pandas as pd
df = pd.read_csv("california_housing_test.csv", sep=',', encoding="utf-8")
df # Вывод таблицы

:

In [ ]:
df.shape # Размер таблицы

:

In [ ]:
df.dtypes # Тип ячеек

:

In [ ]:
df.info() # Информация о датафрейме

In [ ]:
df.describe() # Статистика

In [ ]:
# Задача №59. Решение в группах
# 1. Проверить есть ли в файле пустые значения
# 2. Показать median_house_value где median_income < 2
# 3. Показать данные в первых 2 столбцах
# 4. Выбрать данные где housing_median_age < 20 и median_house_value > 70000
df.isna().sum()

:

In [ ]:
df.head()

In [ ]:
df_new = df[df['median_income'] < 2]
df_new['median_house_value']

In [ ]:
df_new['median_house_value'].reset_index()

In [ ]:
df.columns

In [ ]:
df[['longitude', 'latitude']]

In [ ]:
df.columns[:2]

In [ ]:
df[df.columns[:2]]

In [ ]:
df.loc[:,['longitude', 'latitude']]

In [ ]:
df.loc[10:5:-1,['longitude', 'latitude']]

In [ ]:
df.loc[:,:'latitude']

In [ ]:
df.loc[:,:'households']

In [ ]:
df.iloc[:,:2]

In [ ]:
df.iloc[:5,1:6]

In [ ]:
df.loc[df['median_income'] < 2, 'median_house_value']

In [ ]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]

In [82]:
# Задача №61. Определить какое максимальное и минимальное значение median_house_value
# Показать максимальное median_house_value, где median_income = 3.1250
# Узнать какая максимальная population в зоне минимального значения median_house_value
max(df['median_house_value'])

500001.0

In [84]:

min(df.median_house_value)

22500.0

In [93]:
df.median_house_value.min()

22500.0

In [85]:
max(df.median_house_value)

500001.0

In [92]:
min(df.median_house_value), min(df.median_house_value)

(22500.0, 22500.0)

In [90]:
min(df.median_house_value[df['median_income'] == 3.1250 ])

156300.0

In [91]:
max(df.median_house_value[df['median_income'] == 3.1250 ])

233300.0

In [103]:
min(df[df['median_income'] == 3.1250]['median_house_value'])

156300.0

In [ ]:
df[df['median_income'] == 3.1250]['median_house_value'].max()

:

In [ ]:
df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()

: